<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601864833610-dottcvmsrvj5b0bj4054cag9so8esdfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601864833610-dottcvmsrvj5b0bj4054cag9so8esdfv</string>
	<key>API_KEY</key>
	<string>AIzaSyDQgfmZpxkZpQpVI5uDtokFNiba3nrU-YY</string>
	<key>GCM_SENDER_ID</key>
	<string>601864833610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vehicle</string>
	<key>PROJECT_ID</key>
	<string>vehicle-rental-2</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicle-rental-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601864833610:ios:05c31515c739b8c05034b3</string>
</dict>
</plist>